<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="x5-fullscreen" content="true"/>
    <!--只支持X5内核-->
    <meta name="full-screen" content="yes"/>
    <!--只支持UC浏览器-->
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/begin.css">
    <script type="text/javascript" src="js/zepto.js"></script>
    <script type="text/javascript" src="js/touch.min.js"></script>
    <script type="text/javascript" src="js/base.js"></script>
    <script type="text/javascript" src="js/begin.js"></script>
    <title>钛媒体</title>
</head>
<body>
<div id="icon">
</div>
<div id="time">
    —&nbsp;<span id="date"></span>&nbsp;—
</div>
<a href="login">点击进入>></a>
<div id="tip">
    <div>
        <span id="tipTime">3</span>&nbsp;秒
    </div>
</div>
</body>
</html>