<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <!-- 只支持X5内核-->
    <meta name="x5-fullscreen" content="true"/>
    <!--只支持UC浏览器-->
    <meta name="full-screen" content="yes"/>
    <title>钛媒体</title>
    <script src="/js/zepto.js"></script>
    <script src="/js/base.js"></script>
    <script src="/js/swiper.min.js"></script>
    <script src="/js/swiper.animate.min.js"></script>
    <script src="/js/index.js"></script>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/swiper.min.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/index.css"/>
</head>
<body>
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide" id="first">
            <div class="image"></div>
            <pre class="text">
    发   发
    现   现
    钛   新
    媒   生
    体   机
            </pre>
        </div>
        <div class="swiper-slide ain" id="second">
            <div class="image"></div>
    <pre class="text">
    轻   不
    阅   是
    读   浅
         尝
         辄
         止
    </pre>
        </div>
        <div class="swiper-slide ain" id="third">
            <div class="image"></div>
            <pre class="text text03">
    你   都
    想   尽
    看   在
    的   眼
          前
    </pre>
            <a href="begin" id="start">立即开启</a>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
</body>
</html>
