<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="x5-fullscreen" content="true"/>
    <!--只支持X5内核-->
    <meta name="full-screen" content="yes"/>
    <!--只支持UC浏览器-->
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/reg.css"/>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_6k56tmsp61es714i.css"/>
    <script type="text/javascript" src="js/zepto.js"></script>
    <script type="text/javascript" src="js/touch.min.js"></script>
    <script type="text/javascript" src="js/base.js"></script>
    <script type="text/javascript" src="js/reg.js"></script>
    <title>钛媒体</title>
</head>
<body>
<div id="logo">
    <div></div>
    <div></div>
</div>
<form action="users/reg" method="post">
    <div class="user">
        <input type="text" value="用户名" name="username" id="username"/>
    </div>
    <div class="pass">
        <input type="password" value="123456" name="password" id="password"/>
    </div>
    <div class="notice">
        qqq
    </div>
    <div class="sub">
        <input type="submit" value="确定" id="submit">
    </div>
</form>
<div id="loginOther">
    <a href="login">已有账号，直接登录</a>
</div>
</body>
</html>