body{
    background: #2F373F;
}
#logo{
    width: 100%;
    position: absolute;
    margin: 0 auto;
    top: 1.5rem;
}
#logo div:nth-child(1){
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
    background-image: url("../imgs/login.png");
    background-position: center;
    background-size:86%;
    background-repeat: no-repeat;
}
#logo div:nth-child(2){
    width: 4rem;
    height: 1.4rem;
    background-image: url("../imgs/login01.png");
    background-position: center;
    background-size:100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}
form{
    position: absolute;
    top: 5.5rem;
    width: 100%;
}
.user{
    width: 80%;
    height: 1.2rem;
    text-align: center;
    line-height: 1.2rem;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    color: #ccc;
}
#username{
    width: 100%;
    height: 100%;
    border: 0;
    float: left;
    background: none;
    color: #ccc;
    font-size: 0.36rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.1rem;
    box-sizing: border-box;
    padding-left: 0.2rem;
}
#password{
    width: 100%;
    height: 100%;
    border: 0;
    float: left;
    background: none;
    color: #ccc;
    font-size: 0.36rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.1rem;
    box-sizing: border-box;
    padding-left: 0.2rem;
}


.pass{
    width: 80%;
    height: 1.2rem;
    text-align: center;
    line-height: 1.2rem;
    margin: 0 auto;
    margin-top: 0.2rem;
    color: #ccc;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
}

.sub{
    width: 80%;
    height: 1.2rem;
    background: #3D565C;
    text-align: center;
    line-height: 1.2rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    font-size: 0.3rem;
    border-radius: 0.1rem;
}
.sub input{
    width: 100%;
    height: 100%;
    background: none;
    font-size: 0.4rem;
    color: #ccc;
    letter-spacing: 0.3rem;
    border: 0;
}
#loginOther{
    width: 50%;
    height: 1rem;
    text-align: center;
    line-height: 1rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0.5rem;
}
#loginOther a{
    font-size: 0.3rem;
    color: #ccc;
}
.notice{
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom:4rem;
    width: 80%;
    height: 1rem;
    font-size: 0.34rem;
    color: red;
    display: none;
}
